{$SITE_URL}/api/* {
	reverse_proxy /api/* api:8000
}
{$SITE_URL}/admin/* {
	reverse_proxy /admin/* api:8000
}
{$SITE_URL} {
	root * /usr/share/web
	file_server
	try_files {path} /index.html
}
{$SITE_URL}/static/* {
	root * /static
	file_server
}
{$SITE_URL}/attachments/* {
	root * /attachments
	file_server
}
